In [27]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [28]:
df = pd.read_csv("HR_comma_sep.csv")
df.head()
subdf = df[['satisfaction_level','average_montly_hours','promotion_last_5years','salary']]
subdf.head()

   satisfaction_level  average_montly_hours  promotion_last_5years  salary
0                0.38                   157                      0     low
1                0.80                   262                      0  medium
2                0.11                   272                      0  medium
3                0.72                   223                      0     low
4                0.37                   159                      0     low

In [31]:
salary_dummies = pd.get_dummies(subdf.salary, prefix="salary")
df_with_dummies = pd.concat([subdf,salary_dummies],axis='columns')
df_with_dummies.drop('salary',axis='columns',inplace=True)
df_with_dummies.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary_high,salary_low,salary_medium
0,0.38,157,0,0,1,0
1,0.80,262,0,0,0,1
2,0.11,272,0,0,0,1
3,0.72,223,0,0,1,0
4,0.37,159,0,0,1,0

In [38]:
X = df_with_dummies
y = df.left

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.2)
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, y_train)
X_test

,satisfaction_level,average_montly_hours,promotion_last_5years,salary_high,salary_low,salary_medium
9246,0.27,121,0,0,1,0
980,0.45,140,0,0,1,0
6943,0.88,249,0,0,0,1
6828,0.34,158,0,0,0,1
7734,0.34,137,0,0,1,0
...,...,...,...,...,...,...
4271,0.52,168,0,0,0,1
11617,0.72,211,0,0,0,1
13119,0.47,152,0,0,0,1
99,0.90,221,0,0,0,1
6243,0.29,183,0,0,0,1

In [54]:
model.predict([[0.20,130,0,0,1,0]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1])

In [47]:
model.score(X_test, y_test)

0.7800833333333334